@model List<UserBookViewModel>;
<a asp-controller="UsersBooks" asp-action="RemoveUsersWithoutBooks">
	Delete users without books
</a>
<br />
<a asp-controller="UsersBooks" asp-action="ReturnBook">
	Return Book
</a>
<table class="table">
		<thead>
			<tr>
				<th>User Full Name</th>
				<th>User Birth Date</th>
				<th>Book Name</th>
				<th>Book Year</th>
				<th>Author Full Name</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var userBook in @Model){
				<tr>
					<td>@userBook.UserFullName</td>
					<td>@userBook.UserBirthDate</td>
					<td>@userBook.BookName</td>
					<td>@userBook.BookYear</td>
					<td>@userBook.AuthorFullName</td>
				</tr>
			}
		</tbody>
	</table>