@model List<BorrowedBooksViewModel>

<p>@ViewData["Info"]</p>

<table class="table">
    <thead>
        <tr>
            <th>User full name</th>
            <th>User birth date</th>
            <th>Book name</th>
            <th>Book year</th>
            <th>Author full name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var borrowed in Model)
        {
            <tr>
                <td>@borrowed.UserFullName</td>
                <td>@borrowed.UserBirthDate.Date</td>
                <td>@borrowed.BookName</td>
                <td>@borrowed.BookYear</td>
                <td>@borrowed.AuthorFullName</td>
            </tr>
        }
    </tbody>
</table>